<footer class="footer" id="footer">
    <div class="footer-container" id="footer-container">
        <span id="copyright" class="copyright">
            Campy &copy 2022
        </span>
    </div>
</footer>

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, delectus temporibus, quas sapiente officia deserunt earum aperiam modi tenetur dolore magni quae doloribus, corrupti blanditiis iure rem commodi tempore suscipit.