<nav id="navbar" class="navbar">
    <ul>
        <li>
            <a href="/">
                Home
            </a>
        </li>
        <li>
            <a href="/campgrounds">
                All Campgrounds
            </a>
        </li>
        <li>
            <a href="/campgrounds/new">
                New Campground
            </a>
        </li>
    </ul>
</nav>
