<nav>
    <ul>
        <li>
            <a href="/">
                Home
            </a>
        </li>
        <li>
            <a href="/campgrounds">
                All Campgrounds
            </a>
        </li>
        <li>
            <a href="/campgrounds/new">
                Pricing
            </a>
        </li>
    </ul>
</nav>
