<nav id="navbar" class="navbar">
    <div id="navbar-container" class="navbar-container">
        <div class="logo" id="logo">
            <img src="/assets/logo.png" alt="Campy Logo">
        </div>
        <div class="menu" id="menu">

        </div>
        
    </div>
</nav>
