#container{
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
}

#campgrounds{
    display: flexbox;
}

#campground-card{
    display:flex;
}

#campground-img{
    width:50%;
    height: 200px;
}

#campground-body{
    width: 50%;
}

