#container{
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
}

#campgrounds{
    margin-top: 50px;
}

#campground-card{
    display:flex;
}

#campground-img{
    width:50%;
}

#campground-img img{
    height: 400px;
}

#campground-body{
    width: 50%;
}

#campground-name{
    width: 30%;
    font-family: 'Montserrat',sans-serif;
}

#campground-price{
    margin-top: 55px;
    font-family: 'Crimson Pro', sans-serif;
    font-weight: 300;
}

#campground-description{
    margin-top: 55px;
    font-family: 'Quicksand',sans-serif;
    font-weight: 300;
}

#campground-button{
    margin-top: 55px;
    padding: 10px;
    background-color: black;
    color: white;
    font-family: 'Crimson Pro',sans-serif;
    font-size: large;
}

#campground-button:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
}
