#form-container{
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#new-campground{
    display:flex;
    flex-direction: column;
    width: 50%;
}

#input-label{
    margin-top:20px;
    font-family: 'Quicksand',sans-serif;
    font-size: large;
    font-weight: 600;
    text-align: left;
}

#name,#location,#price,#description{
    margin-top: 20px;
    
}

