#show-container{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#show-campground-card{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#show-campground-image{
    height: 500px;
}

#show-campground-card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#show-campground-name{
    margin-top: 20px;
    font-family: 'Montserrat',sans-serif;
}

#show-campground-location{
    margin-top: 20px;
    font-family: 'Crimson Pro', sans-serif;
}

#show-campground-price{
    margin-top: 20px;
    font-family: 'Crimson Pro', sans-serif;
}

#show-campground-description{
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

#show-edit-campground-button{
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px;
}

#show-edit-campground-button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

#show-delete-campground-button{
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    display: inline;
    margin-bottom: 50px;
}

#show-delete-campground-button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

/*what*/