#show-container{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#show-campground-card{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#show-campground-image{
    height: 500px;
}

#show-campground-card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#show-campground-name{
    margin-top: 20px;
    font-family: 'Montserrat',sans-serif;
}

#show-campground-location{
    margin-top: 20px;
    font-family: 'Crimson Pro', sans-serif;
}

#show-campground-price{
    margin-top: 20px;
    font-family: 'Crimson Pro', sans-serif;
}

#show-campground-description{
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

#show-edit-campground-button{
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px;
}

#show-edit-campground-button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

#show-delete-campground-button{
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    display: inline;
    margin-bottom: 50px;
}

#show-delete-campground-button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

#show-campground-review{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

#new-review{
    display: flex;
    flex-direction: column;
}

#review-title{
    font-family: 'Crimson Pro',sans-serif;
    text-align: center;
}

#review-rating-label{
    font-family: 'Quicksand', sans-serif;
    font-weight:600;
    margin-top: 20px;
    text-align: left;
}

#review-rating{
    margin-top: 20px;
}

#review-body-label{
    margin-top: 20px;
    font-family: 'Quicksand',sans-serif;
    font-weight: 600;
    text-align: left;
}

#review-body{
    margin-top: 20px;
}

#submit-review{
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    width: 20%;
    align-self: center;
}

#submit-review:hover{
    background-color: white;
    color: black;
    border: solid 1px black;
}

#validation-msg{
    display: none;
}

.validated{
    border: solid 1px green;
}

.unvalidated{
    border: solid 1px red;
}

#reviews-display{
    display: flex;
    margin-top: 20px;
}

#rating{
    font-family: 'Crimson Pro',sans-serif;
    font-weight: 600;
}

#body{
    font-family: 'Crimson Pro', sans-serif;
    font-weight: 600;
}