<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campy</title>
    <link rel="stylesheet" href="/css/partials/navbar.css" type="text/css">
    <link rel="stylesheet" href="/css/partials/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/campgrounds/index.css" type="text/css">
</head>
<body style="margin:100px;">
    <%- include ('../partials/navbar') %> 
    <%- body %> 
    <%- include ('../partials/footer') %>
    <script src="/js/navbar.js" type="text/javascript"></script>
</body>
</html>