footer#footer{
    display: block;
    background-color: black;
    padding: 20px;
    justify-content: center;
}

span#copyright{
    width: 100%;
    color: white;
    font-size: medium;
    font-weight: 600;
}