footer#footer{
    display: block;
    background-color: black;
    padding: 20px;
}

div#footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

span#copyright{
    color: white;
    font-size: medium;
    font-weight: 600;
}