nav#navbar{
    background-color: black;
    padding: 10px;
}

div#navbar-container{
    display: flex;
}

div#logo img{
    height: 20px;
}

div#menu ul{
    display: flex;
    list-style-type: none;
}

div#menu ul li{
    margin: 15px;
}

div#menu ul li a{
    color: white;
}
