nav#navbar{
    background-color: black;
    padding: 20px;
}

div#navbar ul{
    display: flex;
    list-style-type: none;
}

nav#navbar ul li{
    margin: 15px;
}

nav#navbar ul li a{
    color: white;
}
