nav#navbar{
    background-color: black;
    padding: 20px;
}

nav#navbar ul{
    display: flex;
    list-style-type: none;
}

nav#navbar ul li{
    margin: 15px;
}

nav#navbar ul li a{
    <ul>
        <li>
            <a href="/">
                Home
            </a>
        </li>
        <li>
            <a href="/campgrounds">
                All Campgrounds
            </a>
        </li>
        <li>
            <a href="/campgrounds/new">
                New Campground
            </a>
        </li>
    </ul>
}
