<% layout('layouts/boilerplate') %> 
    <div id="container" class="container">
        <h1>
            All Campgrounds 
        </h1>
        <div class="campgrounds" id="campgrounds">
            <% for (let campground of campgrounds){  %>
                <div id="campground-card" class="campground-card">
                    <div id="camground-img" class="campground-img">
                        <img src="<%= campground.image %> ">
                    </div>
                    <div id="campground-body" class="campground-body">
                        <h2 id="campground.name" class="campground.name">
                            <%= campground.name %> 
                        </h2>
                        <h3 id="campground-price" class="campground-price">
                            <%= campground.price %> 
                        </h3>
                        <p id="campground-description" class="campground-description">
                            <%= campground.description %> 
                        </p>
                        <button id="campground-button" class="campgrpund-button">
                            View Campground
                        </button>
                    </div>     
                </div>
            <% } %> 
        </div>
    </div>