<% layout('layouts/boilerplate') %> 
    <h1>
        All Campgrounds 
    </h1>
    <h2>
        <ul> 
            <% for (let campground of campgrounds){  %>
                <div id="campground-card" class="campground-card">
                    <
                    
                </div>
                <li><a href="campgrounds/<%= campground.id %> "><%= campground.name %></a></li>
                <% } %>  
        </ul>
    </h2>
    <h3><a href="/campgrounds/new">Make new campground</a></h3>