<% layout('layouts/boilerplate') %> 
    <div id="container">
        <h1 id="title">
            Make New Campground
        </h1>
        <div id="form-container">
            <form id="new-campground" action="/campgrounds" method="POST" class="validation" novalidate>
                <label for="name" id="input-label">
                    Enter campground name
                </label>
                <input type="text" name="campground[name]" id="name" required>
                <
                <label for="location" id="input-label">
                    Enter campground location
                </label>
                <input type="text" name="campground[location]" id="location" required>
                <label for="price-box" id="input-label">
                    Enter campground price
                </label>
                <div id="price-box">
                    <span>$</span>
                    <input type="number" name="campground[price]" id="price" required>
                </div>
                <label for="image" id="input-label">
                    Upload campground image
                </label>
                <input type="text" name="campground[image]" id="image" required>
                <label for="description" id="input-label">
                    Enter campground description
                </label>
                <input type="text" name="campground[description]" id="description" required>
                <button id="new-campground-button">
                    Add new campground
                </button>
            </form>
        </div>
    </div>

    <script>
        (function(){
            'use strict'

            var forms=document.querySelectorAll('.validation')

            Array.form(forms)
                .forEach(function(form){
                    form.addEventListener('submit',function(event){
                        if (!form.checkValidity()){
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('validated')
                    },false)
                })
            }
        )
    </script>