<% layout('layouts/boilerplate') %> 
    <div id="container">
        <h1 id="title">
            Make New Campground
        </h1>
        <div id="form-container">
            <form id="new-campground" action="/campgrounds" method="POST" class="new-validation" novalidate>
                <label for="name" id="input-label">
                    Enter campground name
                </label>
                <input type="text" name="campground[name]" id="name" class="input-validation" required>
                <h4 class="validation-msg">
                    Looks good
                </h4>
                <label for="location" id="input-label">
                    Enter campground location
                </label>
                <input type="text" name="campground[location]" id="location" class="input-validation" required>
                <h4 class="validation-msg">
                    Looks good
                </h4>
                <label for="price-box" id="input-label">
                    Enter campground price
                </label>
                <div id="price-box">
                    <span>$</span>
                    <input type="text" name="campground[price]" id="price" class="input-validation" required>
                    <h4 class="validation-msg">
                        Looks good
                    </h4>
                </div>
                <label for="image" id="input-label">
                    Upload campground image
                </label>
                <input type="text" name="campground[image]" id="image" class="input-validation" required>
                <h4 class="validation-msg">
                    Looks good
                </h4>
                <label for="description" id="input-label">
                    Enter campground description
                </label>
                <input type="text" name="campground[description]" id="description" class="input-validation" required>
                <h4 class="validation-msg">
                    Looks good
                </h4>
                <button type="submit" id="new-campground-button">
                    Add new campground
                </button>
            </form>
        </div>
    </div>

    