<% layout('layouts/boilerplate') %> 
    <div id="container">
        <form id="new-campground" action="/campgrounds" method="POST">
            <label for="name" id="name">
                Enter campground name
            </label>
            <input type="text" name="campground[name]" id="name">
            <label for="location">
                Enter campground location
            </label>
            <input type="text" name="campground[location]" id="location">
            <label for="price-box">
                Enter campground price
            </label>
            <div id="price-box">
                <span>$</span>
                <input type="number" name="campground[price]" id="price">
            </div>
            <label for="description">
                Enter campground description
            </label>
            <input type="text" name="campground[description]" id="descripton">
            <button>Add new campground</button>
        </form>
    </div>