<% layout('layouts/boilerplate') %> 
    <div id="container">
        <h1>
            
        </h1>
    </div>
    <div id="form-container">
        <h1>Hello</h1>
        <form id="new-campground" action="/campgrounds" method="POST">
            <label for="name" id="input-label">
                Enter campground name
            </label>
            <input type="text" name="campground[name]" id="name">
            <label for="location" id="input-label">
                Enter campground location
            </label>
            <input type="text" name="campground[location]" id="location">
            <label for="price-box" id="input-label">
                Enter campground price
            </label>
            <div id="price-box">
                <span>$</span>
                <input type="number" name="campground[price]" id="price">
            </div>
            <label for="description" id="input-label">
                Enter campground description
            </label>
            <input type="text" name="campground[description]" id="description">
            <button>Add new campground</button>
        </form>
    </div>