nav#navbar{
    background-color: black;
    padding: 10px;
    overflow: hidden;
}

div#navbar-container{
    display: flex;
    margin-right: 20px;
}

div#logo{
    width: 50%;
}

div#logo img{
    margin: 15px;
    height: 50px;
}

div#menu{
    width: 50%;
}

div#menu ul{
    display: flex;
    list-style-type: none;
    justify-content: right;
}

div#menu ul li{
    margin: 15px;
}


div#menu ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Crimson Pro',sans-serif;
    background-image:linear-gradient(white,white);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
    background-size: 0% 0.1em;
    transition: background-size 0.2s ease-in-out;
}

div#menu ul li a:hover{
    font-weight: bold;
    background-position-x:0% ;
    background-size: 100% 0.5em;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

