nav#navbar{
    background-color: black;
    padding: 10px;
    overflow: hidden;
}

div#navbar-container{
    display: flex;
    margin-right: 20px;
}

div#logo{
    width: 50%;
}

div#logo img{
    margin: 15px;
    height: 50px;
}

div#menu{
    width: 50%;
}

div#menu ul{
    display: flex;
    list-style-type: none;
    justify-content: right;
}

div#menu ul li{
    margin: 15px;
}


div#menu ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Crimson Pro',sans-serif;
    background-color: white;
}

div#menu ul li a:hover{
    font-weight: bold;
    text-decoration: underline;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

